.sidebar {
    background-color: #f4f4f4;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .back-button {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
  }
  
  .back-button:hover {
    color: #555;
  }
  
  h2 {
    margin-left: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    cursor: pointer;
  }
  
  li.active {
    background-color: #ddd;
    font-weight: bold;
  }
  