
  /* Custom hover effect */
  .custom-hover-effect:hover {
    transform: scale(1.05); /* Slightly enlarges the button */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Adds a shadow on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }
  /* Custom hover effect for dropdown button */
  .dropdown-hover-effect:hover {
    transform: scale(1.05); /* Slightly enlarges the button */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Adds a shadow on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }